@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e0d3e;
  color: white;
}

*::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.transparent-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.from-top {
  align-items: center;
  justify-content: center;
  animation: slideInFromTop 0.5s ease forwards;
  backface-visibility: hidden;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.from-left {
  align-items: center;
  justify-content: center;
  animation: slideInFromLeft 0.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  backface-visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.transition-opa {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out 0.3s forwards;
}

@keyframes rotateAnim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}